<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(local);Initial Catalog=Student;User ID=sa;Password=myasp.net^" />
    <add name="EducationForm.Properties.Settings.StudentConnectionString"
      connectionString="Data Source=(local);Initial Catalog=Student;User ID=sa;Password=myasp.net^"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>